.page__footer {
  background-color: blue;
}

.scroll-top-container {
  display: flex;
  justify-content: center;
}

.scroll-top {
  transform: translateY(-20px);
  left: 138px;
  width: 45px;
  height: 45px;
  background-color: green;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list-container {
  background-color: yellow;
}
