.page__footer {
  background-color: $color-footer;
}

.scroll-top-container {
  display: flex;
  justify-content: center;
  background-color: $color-footer;
}

.scroll-top {
  transform: translateY(-20px);
  left: 138px;
  width: 45px;
  height: 45px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list-container {
  background-color: $color-footer;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 16px;
  list-style: none;
  line-height: 1.88;
}

.footer__elements-list {
  padding: 15px 0 30px;
}

.footer__socialmedia-list {
  margin-bottom: 30px;
}

.instit-info {
}
