.main__hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero__text {
  text-align: center;
  width: 290px;
  color: $color-white;
}

.hero__text__title {
  font-family: $font_slab;
  font-size: 42px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.hero__text__subtitle {
  font-size: 16px;
  font-weight: 100;
}

.scroll-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-button {
  margin: 45px 0 53px;
  background-color: $color-white;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-section {
  background-color: $color-orange;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-link {
  color: $color-white;
}

/*styles para main_section*/

.main__section {
  display: flex;
}

.main__section__text {
  display: flex;
  flex-direction: column;
}

.main-section__insomnia {
  width: 90px;
  color: $color-lightblue;
  font-size: 14px;

  margin-top: 30px;
  margin-bottom: 1px;
  height: 30px;
}

.main-section__title {
  font-family: $font_slab;
  font-size: 24px;
}

.main-section__paragraph {
  margin: 15px 0px 30px;
  color: $color-greyish;
  font-size: 18px;
  line-height: $height-paragraph;
}

.go__link {
  text-decoration: none;
  width: 76px;
  height: 45px;
  background-color: transparent;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-orange;
  border: 2px solid $color-orange;
  margin-bottom: 45px;
  transition: background-color ease 0.8s;
  &:hover {
    background-color: $color-darkblue;
    color: white;
  }
}

/*MEDIA QUERIES 768PX TABLET*/

/*HERO*/

@media all and (min-width: 768px) {
  .hero__text__title {
    font-size: 80px;
  }

  .hero__text {
    width: 678px;
  }

  .hero__text__subtitle {
    font-size: 24px;
  }

  .scroll-down-button {
    margin: 30px 0 45px;
  }
  /*SECTION*/

  .main-section__title {
    font-size: 26px;
  }

  .main-section__paragraph {
    margin: 30px 0px;
    font-size: 20px;
    line-height: 30px;
  }

  .main__button-go {
    width: 91px;
    margin: 30px 0 60px;
  }

  .new-section {
    background-color: $color-darkblue;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
}

/*MEDIA QUERIES 1200PX DESKTOP*/

/*HERO*/

@media all and (min-width: 1200px) {
  .hero__text__title {
    font-size: 100px;
  }

  .hero__text {
    width: 1200px;
  }

  .scroll-down-button {
    margin: 30px 0 13px;
  }
  /*SECTION*/

  .main-section__title {
    font-size: 32px;
  }

  .main__button-go {
    width: 91px;
    margin: 30px 0 60px;
  }
}
