/*partials*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 15px;
}

.page__header {
  position: relative;
}

.button-menu-icon {
  background-color: #0271bc;
  border: 0;
  width: 44px;
  height: 44px;
  position: absolute;
}

.menu-icon_image {
  width: 16px;
  height: 14px;
}

.main__hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero__text {
  text-align: center;
  width: 290px;
  color: #ffffff;
  margin-bottom: 143px;
}

.hero__text__title {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.hero__text__subtitle {
  font-family: "Roboto";
  font-size: 16px;
}

.scroll-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-button {
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatey(-53px);
}

/*styles para main_section*/

.main__section {
  height: 376px;
  display: flex;
}

.main__section__text {
  display: flex;
  flex-direction: column;
}

.main-section__insomnia {
  width: 90px;
  color: #8ccbea;
  font-size: 14px;
  font-family: "Roboto-Regular";
  margin-top: 30px;
  margin-bottom: 1px;
  height: 30px;
}

.main-section__title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
}

.main-section__paragraph {
  margin: 15px 0px 30px;
}

.main__button-go {
  width: 76px;
  height: 45px;
  background-color: transparent;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f26002;
  font-family: roboto;
  border: 2px solid #f26002;
}
