<aside class="page__aside">
  <div class="container">
    <div class="aside__content">
      <div class="aside__container-title">
        <h4 class="aside__title">3 reasons to purchase</h4>
      </div>

      <ul class="aside__sections-container">
        <li class="aside__section aside__section-first">
          <h5 class="aside__section-title">Ut sed metus</h5>
          <p class="aside__section-content">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </li>

        <li class="aside__section aside__section-second">
          <h5 class="aside__section-title">Curabitur ac erat</h5>
          <p class="aside__section-content">
            Mauris mattis urna quis lorem molestie.
          </p>
        </li>
        <li class="aside__section aside__section-third">
          <h5 class="aside__section-title">Morbi dictum</h5>
          <p class="aside__section-content">
            Aliquam in dolor et dolor tincidunt.
          </p>
        </li>
      </ul>

      <div class="aside__button">
        <a class="aside__button__link" href="#">
          <button type="button" class="button-more-reasons">
            More reasons
          </button>
        </a>
      </div>
    </div>
  </div>
</aside>
