<aside class="page__aside">
  <div class="container">
    <div class="aside__container-title">
      <h4 class="aside__title">3 reasons to purchase</h4>
    </div>
    <div class="aside__sections">
      <section>
        <h5 class="aside__section-title">Ut sed metus</h5>
        <p class="aside__section-content">
          Lorem ipsum dolor sit amet consectetur.
        </p>
      </section>
      <section>
        <h5 class="aside__section-title">Curabitur ac erat</h5>
        <p class="aside__section-content">
          Mauris mattis urna quis lorem molestie.
        </p>
      </section>
      <section>
        <h5 class="aside__section-title">Morbi dictum</h5>
        <p class="aside__section-content">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </section>
    </div>
    <div class="aside__button">
      <button>More reasons</button>
    </div>
  </div>
</aside>
