<footer page__footer>
  <div class="container">
    <div class="page__footer__container">
      <div class="scroll-top-container">
        <div class="scroll-top">
          <img
            class="scroll-top_image"
            src="..//assets/images/ico-arrow.svg"
            alt="Arrow top scroll icon"
          />
        </div>
      </div>

      <div class="footer__list-container">
        <ul class="footer__elements-list">
          <li>articles</li>
          <li>books</li>
          <li>events</li>
          <li>reasons</li>
          <li>tips</li>
        </ul>

        <ul class="footer__socialmedia-list">
          <li>twitter</li>
          <li>instagram</li>
          <li>mastodon.social</li>
        </ul>

        <small>
          <p>
            ©2017
          </p>
          <p>
            we ❤︎ components
          </p>
        </small>
      </div>
    </div>
  </div>
</footer>
