<aside class="page__aside">
  <div class="container">
    <div class="aside__title">
      <h4>3 reasons to purchase</h4>
    </div>
    <div class="aside__sections">
      <section>
        <h1>Ut sed metus</h1>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </section>
      <section>
        <h1>Curabitur ac erat</h1>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </section>
      <section>
        <h1>Morbi dictum</h1>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </section>
    </div>
    <div class="aside__button">
      <button>More reasons</button>
    </div>
  </div>
</aside>
