<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <button>
          <img src="../assets/images/ico-menu.svg" alt="Menu icon" />
        </button>
      </div>
    </header>
    <main>
      <div class="hero">
        <div class="container">
          <div class="hero__text">
            <h1>Anonymous proxy</h1>
            <h2>In hac habitasse platea dictumst.</h2>
          </div>
          <button>
            <img
              src="../assets/images/ico-scroll-down.svg"
              alt="Scroll down icon"
            />
          </button>
        </div>
      </div>

      <section>
        <div class="container">
          <span class="text__insomnia"></span>
          <h3>looking through a window</h3>
          <p>
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
            at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
          </p>
          <button>Go</button>
        </div>
      </section>
    </main>

    <aside>
      <div class="container">
        <div class="aside__title">
          <h4>3 reasons to purchase</h4>
        </div>
        <div class="aside__sections">
          <section>
            <h1>Ut sed metus</h1>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </section>
          <section>
            <h1>Curabitur ac erat</h1>
            <p>Mauris mattis urna quis lorem molestie.</p>
          </section>
          <section>
            <h1>Morbi dictum</h1>
            <p>Aliquam in dolor et dolor tincidunt.</p>
          </section>
        </div>
        <div class="aside__button">
          <button>More reasons</button>
        </div>
      </div>
    </aside>
    <footer>
      <div class="container">
        <button>
          <img
            src="..//assets/images/ico-arrow.svg"
            alt="Arrow top scroll icon"
          />
        </button>

        <ul class="footer__elements-list">
          <li>articles</li>
          <li>books</li>
          <li>events</li>
          <li>reasons</li>
          <li>tips</li>
        </ul>

        <ul class="footer__socialmedia-list">
          <li>twitter</li>
          <li>instagram</li>
          <li>mastodon.social</li>
        </ul>

        <small>
          <p>
            ©2017
          </p>
          <p>
            we ❤︎ components
          </p>
        </small>
      </div>
    </footer>
  </body>
</html>
