/*font-family*/
$font_roboto: "Roboto", sans-serif;
$font_slab: "Roboto Slab", serif;

/*colors*/
$color-white: #ffffff;
$color-cerulean: #0271bc;
$color-orange: #f26002;
$color-lightblue: #8ccbea;
$color-greyish: #4a4a4a;
$color-iceblue: #eff9ff;
$color-darkblue: #304268;

$color-menu-icon: $color-cerulean;
$color-button: $color-orange;
$color-aside: $color-lightblue;
$color-footer: $color-darkblue;

/*line heights*/
$height-paragraph: 1, 67;
